.oval-frame {
  border-radius: 50%;
  position: relative;
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person,
.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}